.yt {
  background-image: linear-gradient(#FF0000, #D60000);
  border:;
  border-radius: 4px;
  color: #FFFFFF;
  font-family: Arial, serif !important;
  font-size: 17px;
  font-weight: 400;
  padding: 10px 20px;
  text-decoration: none;
}

.yt:disabled {
  cursor: default;
  opacity: .3;
}

.yt:hover {
  background-image: linear-gradient(#FF3131, #FF0000);
  border-color:;
  text-decoration: none;
}

.yt:active {
  background-image: linear-gradient(#D60000, #BB0000);
  border-color:;
  outline: none;
}

.twt {
  background-image: linear-gradient(#70D0EC, #64BFD9);
  border:;
  border-radius: 4px;
  color: #FFFFFF;
  font-family: Arial, serif !important;
  font-size: 17px;
  font-weight: 400;
  padding: 10px 20px;
  text-decoration: none;
}

.twt:disabled {
  cursor: default;
  opacity: .3;
}

.twt:hover {
  background-image: linear-gradient(#76E1FF, #70D0EC);
  border-color:;
  text-decoration: none;
}

.twt:active {
  background-image: linear-gradient(#64BFD9, #55A3B9);
  border-color:;
  outline: none;
}

.da {
  background-image: linear-gradient(#00DD32, #00C32C);
  border:;
  border-radius: 4px;
  color: #FFFFFF;
  font-family: Arial, serif !important;
  font-size: 17px;
  font-weight: 400;
  padding: 10px 20px;
  text-decoration: none;
}

.da:disabled {
  cursor: default;
  opacity: .3;
}

.da:hover {
  background-image: linear-gradient(#00FF3A, #00DD32);
  border-color:;
  text-decoration: none;
}

.da:active {
  background-image: linear-gradient(#00C32C, #00A325);
  border-color:;
  outline: none;
}

.dis {
  background-image: linear-gradient(#8892FF, #5865F2);
  border:;
  border-radius: 4px;
  color: #FFFFFF;
  font-family: Arial, serif !important;
  font-size: 17px;
  font-weight: 400;
  padding: 10px 20px;
  text-decoration: none;
}

.dis:disabled {
  cursor: default;
  opacity: .3;
}

.dis:hover {
  background-image: linear-gradient(#B1B8FF, #8892FF);
  border-color:;
  text-decoration: none;
}

.dis:active {
  background-image: linear-gradient(#5865F2, #4853D1);
  border-color:;
  outline: none;
}

.insta {
  background-image: linear-gradient(#FF0078, #DE0069);
  border:;
  border-radius: 4px;
  color: #FFFFFF;
  font-family: Arial, serif !important;
  font-size: 17px;
  font-weight: 400;
  padding: 10px 20px;
  text-decoration: none;
}

.insta:disabled {
  cursor: default;
  opacity: .3;
}

.insta:hover {
  background-image: linear-gradient(#FF459D, #FF0079);
  border-color:;
  text-decoration: none;
}

.insta:active {
  background-image: linear-gradient(#DE0069, #B10054);
  border-color:;
  outline: none;
}

.ro {
  background-image: linear-gradient(#E0E0E0, #AFAFAF);
  border:;
  border-radius: 4px;
  color: #FFFFFF;
  font-family: Arial, serif !important;
  font-size: 17px;
  font-weight: 400;
  padding: 10px 20px;
  text-decoration: none;
}

.ro:disabled {
  cursor: default;
  opacity: .3;
}

.ro:hover {
  background-image: linear-gradient(#ECECEC, #E0E0E0);
  border-color:;
  text-decoration: none;
}

.ro:active {
  background-image: linear-gradient(#AFAFAF, #919191);
  border-color:;
  outline: none;
}
